/.vscode
/.vs
.fake
*.vscode
*.vs

# Ignore Visual Studio project files
*.vcxproj.user
*.vcxproj.filters
*.vcxproj

# Ignore Visual Studio solution files
*.sln

# Ignore Debug and x64 directories
Debug/
x64/
