/.vscode
/.vs
.fake
*.vscode
*.vs

# Ignore Visual Studio solution files
*.sln

# Ignore Debug and x64 directories
Debug/
x64/

/.{1:projectName}/
/.Debug
/.x64
/.${1:projectName}.sln
/.${1:projectName}.vcxproj}
/.${1:projectName}.filters
/.${1:projectName}.vcxproj.user